$primary-colour:rgb(90, 34, 4);
$secondary-colour: #0f1214;
$font-primary:#282828;
$font-secondary: hsl(0, 0%, 100%);

$background-colour:#e4cb98;
$headerbackground-colour:#b89859;

//$orange:
$orange:hsl(27 , 87% , 34%);